body {
	font-family: arial, helvetica, sans-serif;
	font-size: 80%;
	color: black;
	/*background-color: #ffc;*/
	background-image: url(../images/background.png);
	background-repeat: repeat-x;
	margin: 1em;
	padding: 0;
}

/* By the way, this is a comment */

p {
	line-height: 1.5em;
}

h1 {
	color: white;
	background-color: #090;
	font-size: 2em;
	margin: 0;
	margin-bottom: 0.5em;
	padding: 0.25em;
	font-style: italic;
	text-align: center;
	letter-spacing: 0.5em;
	border-bottom-style: solid;
	border-bottom-width: 0.5em;
	border-bottom-color: #0c0;
}

h2 {
	color: white;
	background-color: #090;
	font-size: 1.5em;
	margin: 0;
	padding: 0.1em;
	padding-left: 1em;
	border-bottom-style: solid;
	border-bottom-width: 0.5em;
	border-bottom-color: #0c0;
}

h3 {
	color: #999;
	font-size: 1.25em;
}

img {
	border-style: solid;
	border-width: 2px;
	border-color: #0c0;
}

a {
	text-decoration: none;
}

strong {
	font-style: italic;
	text-transform: uppercase;
}

li {
	color: #00c;
	font-style: italic;
}

table.border {
	/*background-color: #98dfff;*/
	border-color: #0c0;
	border-style: solid;
	padding: 0.1em;
}

th.line {
	text-align: left;
	color: #009;
	border-bottom-style: solid;	
}

th {
	text-align: left;
	color: #009;	
}

tbody {
	vertical-align: top;
}

img.align-right {
  clear: right ;
  float: right ;
  margin-left: 1em }