body {
	
	font-family: arial, helvetica, sans-serif;
	font-size: 0.8em;
	color: black;

}

h1 {
	
	color: #ffc;
	background-color: #009;
	font-size: 2em;

}

h2 {
	font-size: 1.5em;
}

a {
	text-decoration: none;
}

strong {
	font-style: italic;
	text-transform: uppercase;
}