.header {
    background-color: #f2f3f3;
    color: #2f4152;
    font-weight: bold;
    padding: 20px;
}
.h1 {
    font-weight: bold;
    font-size: 5em;
    margin-top: 10px;
}
.h2 {
    font-weight: bold;
    font-size: 2.5em;
    margin-top: 5px;
}
